:root {
  --black: black;
  --white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #1a1b1f;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
  line-height: 62px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1a1b1f;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 34px;
}

figcaption {
  opacity: 1;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.divider {
  background-color: #eee;
  height: 1px;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  max-height: none;
  margin-left: 30px;
  margin-right: 30px;
}

.section.cc-cta {
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
}

.paragraph-bigger.cc-bigger-white-light {
  opacity: .6;
  color: #504d48;
}

.button {
  opacity: 1;
  color: #000;
  letter-spacing: 1px;
  -webkit-text-stroke-color: #f9c14a;
  text-transform: capitalize;
  -webkit-text-fill-color: inherit;
  cursor: pointer;
  mix-blend-mode: normal;
  background-color: #fff;
  background-clip: border-box;
  border: 1px #f9c14a;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #000;
  background-color: #f9c14a;
  transform: translate(6px, 6px);
}

.button:active {
  background-color: #f9c14a;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  color: #000;
  background-color: #fff;
  background-image: linear-gradient(#f9c14a, #f9c14a);
  transition: opacity .4s, color .4s;
  display: inline-block;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button.cc-contact-us {
  z-index: 5;
  color: #000;
  background-color: #f9c14a;
  font-family: PT Sans, sans-serif;
  font-weight: 600;
  position: relative;
}

.button.cc-white-button {
  color: #202020;
  background-color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: #fffc;
}

.button.cc-white-button:active {
  background-color: #ffffffe6;
}

.label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  opacity: .6;
}

.label.cc-blog-date {
  opacity: .6;
  margin-top: 20px;
}

.heading-jumbo-tiny {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.rich-text figcaption {
  opacity: .6;
}

.rich-text figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

.paragraph-light {
  opacity: .6;
  text-align: left;
  word-break: normal;
}

.heading-jumbo {
  color: var(--black);
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
}

.heading-jumbo-small {
  text-align: center;
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  color: #fff;
  text-align: center;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 460px;
  padding: 30px;
  display: flex;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.menu {
  z-index: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.navigation-wrap {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navigation {
  background-color: #0000;
  align-items: center;
  padding: 30px 50px;
  display: flex;
}

.navigation-item {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.logo-image {
  display: block;
}

.navigation-items {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.webflow-link {
  opacity: .5;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cta-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 120px;
  display: flex;
}

.intro-header {
  color: #fff;
  object-fit: fill;
  background-color: #f4f4f4;
  background-image: url('../images/HeroBackground1.jpg'), linear-gradient(#fff, #fff);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-bottom: 40px;
  display: flex;
  overflow: visible;
}

.intro-header.cc-subpage {
  color: #fff;
  background-color: #fff;
  background-image: url('../images/HeroBackground1.jpg');
  background-position: 0 0;
  background-size: auto;
  height: 350px;
  margin-bottom: 0;
}

.intro-content {
  text-align: center;
  width: 70%;
  max-width: 1140px;
}

.intro-content.cc-homepage {
  margin-bottom: 20px;
}

.motto-wrap {
  text-align: center;
  width: 80%;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}

.about-story-wrap {
  text-align: center;
  width: 80%;
  margin: 80px auto;
}

.our-services-grid {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 120px;
}

.section-heading-wrap {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-icon {
  margin-bottom: 30px;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  width: 70%;
  margin: 100px auto;
  display: block;
}

.contact-form-wrap {
  border: 0 solid #eee;
  border-right-width: 1px;
  width: 50%;
  padding: 45px 50px 50px;
}

.contact-form-grid {
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1.75fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.details-wrap {
  margin-bottom: 30px;
}

.get-in-touch-form {
  flex-direction: column;
  display: flex;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus {
  border-color: #43464d;
}

.text-field::placeholder {
  color: #32343a66;
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-heading {
  color: #000;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  text-align: center;
  grid-template: ". . ."
  / 1fr 1fr 1fr;
  margin-bottom: 120px;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  background-color: #f4f4f4;
  height: 150px;
  margin-bottom: 30px;
}

.team-pic {
  background-color: #f4f4f4;
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
}

.team-members {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 60px;
}

.team-member-title-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
}

.team-member-name {
  opacity: 1;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.project-cover-pic {
  text-align: center;
  object-fit: fill;
  border: 0 solid #000;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  box-shadow: 0 2px 5px #0003;
}

.projects-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: "Area"
                 "Area-2"
                 "Area-3"
                 / 1fr;
  margin-bottom: 60px;
}

.project-name-wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: .8;
}

.project-name-link:active {
  opacity: .7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: .8;
}

.project-cover-link:active {
  opacity: .7;
}

.project-overview-header {
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 620px;
  margin-bottom: 100px;
  display: flex;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50%;
}

.project-overview-header.cc-project-3-header {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.project-details-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  display: block;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-preview-image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  width: 100%;
  height: 620px;
  margin-bottom: 45px;
  transition: opacity .6s;
  display: block;
}

.blog-preview-image:hover {
  opacity: .8;
}

.blog-preview-image:active {
  opacity: .7;
}

.blog-summary-wrap {
  text-align: left;
  width: 70%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: .8;
}

.blog-heading-link:active {
  opacity: .7;
}

.contact-email-link {
  opacity: .6;
  margin-bottom: 5px;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: .8;
}

.protected-form {
  flex-direction: column;
  display: flex;
}

.protected-wrap {
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding: 30px;
  display: flex;
}

._404-wrap {
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}

.about-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". Area"
  / 1fr 2fr;
  align-items: center;
  margin-bottom: 80px;
}

.about-grid.cc-about-2 {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: ". .";
}

.intro-text {
  width: 80%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.collection-wrap {
  flex-wrap: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-heading {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
}

.blog-preview-wrap {
  width: 33.33%;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 45px;
}

.collection-list-wrapper {
  margin-bottom: 120px;
}

.business-article-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  text-decoration: none;
}

.business-article-heading:hover {
  opacity: .8;
}

.business-article-heading:active {
  opacity: .7;
}

._w-lightbox-caption {
  background-color: #0009;
}

.text-block {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.text-block-2 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
}

.video {
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: scale-down;
  justify-content: center;
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: none;
  display: block;
  position: absolute;
  inset: 0;
  overflow: visible;
}

.section-2 {
  box-sizing: content-box;
  aspect-ratio: auto;
  object-fit: contain;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  object-fit: fill;
  background-color: #ed5c61;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: inline-block;
}

.div-block-2 {
  background-color: #ed5c61;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.div-block-3 {
  background-color: #ed5c61;
}

.div-block-4, .div-block-5 {
  background-color: #ed5c61;
  display: inline-block;
}

.slide {
  object-fit: fill;
  background-color: #0000;
  width: auto;
  height: auto;
}

.slider {
  aspect-ratio: auto;
  width: auto;
  height: auto;
  position: relative;
}

.mask {
  aspect-ratio: auto;
  width: 100%;
  height: auto;
}

.icon {
  color: #9e9a96;
  border: 1px solid #0000;
}

.icon-2 {
  color: #9e9a96;
}

.slide-2 {
  width: auto;
}

.form {
  text-align: left;
  object-fit: fill;
  width: 100%;
  max-width: 900px;
  position: static;
  top: 0;
  bottom: 0;
}

.form-block {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  object-fit: fill;
  flex-direction: column;
  flex: 0 auto;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 20px;
  display: flex;
}

.right-arrow {
  height: auto;
}

.submit-button {
  color: #000;
  letter-spacing: 1px;
  -webkit-text-stroke-color: #f9c14a;
  cursor: pointer;
  background-color: #f9c14a;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  transition: color .4s, opacity .4s, background-color .4s;
}

.submit-button:hover {
  transform: translate(6px, 6px);
}

.slide-3 {
  width: auto;
}

.image {
  width: 100%;
  height: 100%;
}

.text-block-3 {
  text-align: left;
}

.link {
  color: #8c8d8f;
  font-size: 12px;
  line-height: 20px;
}

.checkbox-label, .checkbox-label-2, .checkbox-label-3, .checkbox-label-4, .checkbox-label-5 {
  text-transform: capitalize;
}

.container-2 {
  justify-content: flex-start;
  align-self: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.field-label, .field-label-2 {
  text-transform: capitalize;
  font-weight: 700;
}

.image-2 {
  clear: none;
  text-align: center;
  border-radius: 20px;
  flex: 0 auto;
  order: 0;
  align-self: center;
  max-width: 100%;
  max-height: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  position: static;
  box-shadow: 0 2px 5px #3a383833;
}

.body {
  margin-left: auto;
  margin-right: auto;
}

.cell {
  line-height: 24px;
}

.div-block-6 {
  align-self: center;
  width: 250px;
  height: 170px;
}

.div-block-7 {
  align-self: center;
  width: 240px;
  height: 170px;
}

.image-3 {
  align-self: center;
  padding-right: 20px;
}

.cell-2 {
  justify-content: center;
  align-items: center;
}

.paragraph {
  text-align: left;
  align-self: flex-start;
}

.list-item, .list-item-2, .list-item-3, .paragraph-2, .list-item-4, .bold-text, .bold-text-2, .heading, .rich-text-block {
  text-align: left;
}

.paragraph-3 {
  float: none;
  text-align: left;
  margin-top: 20px;
}

.image-4 {
  align-self: center;
  height: 150px;
  max-height: 80%;
}

.image-5 {
  height: 80px;
}

.tab-link-tab-1 {
  background-color: #f9c14a;
}

.tab-link-tab-1.w--current {
  background-color: #ed5c61;
}

.tab-link-tab-5 {
  background-color: #f9c14a;
}

.tab-link-tab-5.w--current {
  background-color: #ed5c61;
}

.tab-link-tab-2 {
  background-color: #f9c14a;
}

.tab-link-tab-2.w--current {
  background-color: #ed5c61;
}

.tab-link-tab-3 {
  background-color: #f9c14a;
}

.tab-link-tab-3.w--current {
  background-color: #ed5c61;
}

.tab-link-tab-4 {
  background-color: #f9c14a;
}

.tab-link-tab-4.w--current {
  background-color: #ed5c61;
}

.tab-link-tab-6 {
  background-color: #f9c14a;
}

.tab-link-tab-6.w--current {
  background-color: #ed5c61;
}

.container-3 {
  display: flex;
}

.container-4 {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.container-5 {
  width: 30%;
}

.container-6 {
  width: 70%;
  padding-left: 20px;
}

.container-7 {
  margin-top: 20px;
}

.paragraph-4 {
  text-align: left;
}

.paragraph-5, .paragraph-6, .paragraph-7 {
  text-align: left;
  margin-top: 20px;
}

.link-2 {
  float: none;
  clear: none;
  word-break: normal;
  object-fit: fill;
  display: block;
}

.list-item-5, .list-item-6, .list-item-7 {
  text-align: left;
}

.div-block-8 {
  object-fit: fill;
  border: 0 solid #eee;
  width: 100%;
  height: auto;
  padding: 45px 40px 50px 50px;
}

.image-6 {
  border: 1px #000;
  border-radius: 0;
}

.html-embed {
  text-align: center;
  object-fit: scale-down;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
}

.html-embed-2 {
  float: none;
  justify-content: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: static;
}

.list-item-8 {
  float: none;
  text-align: left;
}

.list-item-9, .list-item-10 {
  text-align: left;
}

.list {
  opacity: .59;
}

.text-block-4 {
  float: none;
  opacity: .6;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
}

.div-block-10 {
  width: 100%;
  max-width: none;
  max-height: none;
  padding-top: 56.25%;
  position: relative;
}

.button-2 {
  opacity: 1;
  mix-blend-mode: normal;
  background-color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.button-3 {
  color: #1a1b1fb0;
  background-color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 13px;
  font-weight: 500;
}

.code-embed {
  height: 100%;
}

.team-slider {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-8 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper {
  background-color: #0000;
  height: auto;
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  margin-right: 5%;
}

.team-block {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text {
  margin-bottom: 20px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.section-heading-2 {
  text-align: center;
}

.section-title {
  letter-spacing: 2px;
  margin-top: 60px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.med-divider {
  background-color: #dedede;
  width: 20%;
  height: 1px;
  margin: 16px auto;
  list-style-type: lower-alpha;
  display: block;
}

.featuredthumbnail {
  padding-top: 7px;
  padding-bottom: 7px;
}

.featured-description {
  color: #ffffffb3;
  text-align: left;
  height: 130px;
  padding-right: 44px;
  font-size: 14px;
  line-height: 25px;
}

.author-title {
  float: left;
  color: #999;
  font-size: 12px;
  line-height: 35px;
}

.author-title.lite {
  color: #ffffffb3;
  font-size: 12px;
}

.featured-title {
  color: #fff;
  text-align: left;
  margin-bottom: 4px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  display: block;
}

.featured-image {
  background-image: url('../images/3f4eb74a.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 3px;
  height: 280px;
  margin-top: 0;
  margin-bottom: 0;
  position: static;
  inset: 0;
}

.author-img {
  float: left;
  border-radius: 60px;
  width: 26px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 10px;
  position: static;
  bottom: 10px;
  right: 10px;
}

.featured-details {
  padding: 10px 20px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.category-tag-2 {
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  background-color: #5cc489;
  border-radius: 2px;
  padding: 7px 9px 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.featured-text {
  background-image: linear-gradient(#00000008, #0009 46%, #000000c2);
  padding: 40px 20px 62px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  position: absolute;
  inset: 20px 0 0;
}

.thumbnail-date {
  float: right;
  color: #999;
  font-size: 12px;
  line-height: 35px;
  display: inline-block;
}

.thumbnail-date.lite {
  color: #ffffffb3;
  font-size: 12px;
}

.featured-wrapper {
  border-radius: 3px;
  transition: transform .2s;
  display: block;
  position: relative;
  overflow: hidden;
}

.featured-wrapper:hover {
  transform: translate(0, -5px);
}

.hero-blog {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  height: 300px;
}

.author-link {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  transition: transform .2s;
  display: block;
}

.author-link:hover {
  transform: scale(1.02);
}

.blog-post-title {
  margin-top: 0;
  margin-bottom: 7px;
}

.blog-date {
  color: #999;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  display: inline-block;
}

.smallest-divider {
  background-color: #dedede;
  width: 50px;
  height: 2px;
  margin: 10px auto;
  display: block;
}

.blog-category {
  color: #d25f7c;
  text-transform: uppercase;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 6px;
  text-decoration: none;
  display: inline-block;
}

.author-photo {
  border-radius: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.blog-post {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.author-wrapper {
  text-align: center;
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.full-divide {
  background-color: #dedede;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.author-name {
  color: #353535;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
  display: block;
}

.author-name:hover {
  color: #243039;
}

.author-bio {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.social-link {
  opacity: .82;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  transition: opacity .2s;
  display: inline-block;
}

.social-link:hover {
  opacity: .45;
}

.main-section {
  background-color: #f7f7f7;
  padding-top: 62px;
  padding-bottom: 62px;
}

.main-section.gray {
  background-color: #f8f8f8;
}

.blog-thumbnail {
  margin-bottom: 13px;
  padding: 6px 12px;
}

.category-tag {
  color: #fff;
  text-transform: uppercase;
  background-color: #5cc489;
  border-radius: 2px;
  margin-top: 6px;
  margin-right: 6px;
  padding: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 10px;
}

.thumbnail-wrapper {
  background-color: #fff;
  border-radius: 3px;
  text-decoration: none;
  transition: box-shadow .2s, transform .2s;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 1px #00000017;
}

.thumbnail-wrapper:hover {
  transform: translate(0, -3px);
  box-shadow: 0 0 0 1px #00000017, 0 2px 23px #00000017;
}

.thumbnail-image {
  background-color: #d6d6d6;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.preview-text {
  color: #7a7a7a;
  height: 40px;
  font-size: 13px;
  line-height: 19px;
  overflow: hidden;
}

.blog-title {
  color: #101315;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
  display: inline-block;
}

.thumb-details {
  background-color: #fcfcfc;
  border-top: 1px solid #efefef;
  padding: 6px 13px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.thumbnail-text {
  border-top: 1px solid #e5e5e5;
  height: 110px;
  padding: 13px;
  position: relative;
  overflow: hidden;
}

.heading-2 {
  font-size: 20px;
  line-height: 28px;
}

.rich-text-block-2 {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.submit-button-2 {
  background-color: #f9c14a;
}

.code-embed-2 {
  text-align: left;
  flex: 0 auto;
  align-self: center;
  padding-left: 40px;
  display: block;
}

.code-embed-3 {
  flex: 1;
  align-self: center;
  padding-top: 0;
}

.text-block-5 {
  text-align: center;
}

.f-heading-wrapper {
  z-index: 1;
  color: #fff;
  max-width: 60ch;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.f-error-message {
  color: #fff;
  background-color: #ff5858ed;
  width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.f-success-text {
  font-size: 16px;
}

.f-success-text-wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.f-steps-wrap {
  padding: 56px 32px;
}

.f-steps-wrap.is--7 {
  grid-row-gap: 40px;
  background-color: #f6f6f6;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.f-form-section {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.f-input-field {
  color: #000;
  background-color: #fff;
  border: 1px #000;
  height: auto;
  margin-bottom: 0;
  padding: 14px 16px;
}

.f-success-message {
  z-index: 1;
  color: #fff;
  background-color: #020518;
  height: 100%;
  position: relative;
}

.f-success-video {
  object-fit: cover;
  background-image: linear-gradient(#000000bd, #000000bd);
  width: 100%;
  height: 100%;
}

.f-haeding {
  color: #fff;
  font-size: 40px;
}

.f-radio-butn-field-2 {
  grid-column-gap: 9px;
  grid-row-gap: 12px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding: 4px 23px;
  line-height: 1.1;
  display: flex;
  position: relative;
  overflow: hidden;
}

.f-progress-indicator {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  font-size: .9rem;
  transition: all .6s;
  display: flex;
}

.f-progress-indicator.current {
  color: #fff;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 19%;
  display: flex;
}

.f-form-back-button {
  background-color: #0000;
  border-radius: 100vw;
}

.f-form-back-button.is---2 {
  color: #000;
  border: 1px solid #000;
  padding: 11px 17px;
  font-weight: 700;
}

.f-container {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.f-container.is--form-7 {
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  max-width: none;
  padding: 0;
  display: flex;
}

.f-form-step-img {
  object-fit: cover;
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.f-style_block-item {
  padding: 10px 20px;
}

.f-style_block-item.is--progress {
  width: 100%;
}

.f-form {
  background-color: #ededed00;
}

.f-form.is--form {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: flex;
}

.f-form-img-wrap {
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
  width: 50%;
  padding: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.f-progress-wrapper-copy-element {
  height: 4px;
  display: flex;
  overflow: hidden;
}

.f-input-wrapper {
  width: 100%;
}

.f-success-wrapper {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.f-press-enter-text {
  font-size: 14px;
}

.f-form-button-wrapper.is---3 {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  display: flex;
}

.f-radio-butn-2 {
  border-style: solid;
  border-color: #020518;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  inset: 0%;
}

.f-radio-butn-2:hover {
  background-color: #0205180d;
}

.f-radio-butn-2.w--redirected-checked {
  border: 2px solid #020518;
  border-radius: 0%;
  width: 100%;
  height: 100%;
}

.f-form-button {
  color: #fff;
  background-color: #020518;
  border-radius: 100vw;
  padding: 10px 20px;
}

.f-form-button.is---1 {
  border-radius: 100vw;
  padding: 12px 18px;
  font-weight: 600;
}

.f-radio-butn-label-3 {
  z-index: 2;
  text-align: left;
  text-transform: capitalize;
  flex: 0 auto;
  max-width: 20ch;
  position: relative;
}

.f-form-parent {
  margin-bottom: 0;
}

.f-form-parent.is--form-img-right {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.f-form-steps-wrap.is---2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
}

.f-form-progress-wrapper {
  z-index: 10;
  width: 50%;
  position: fixed;
  inset: auto auto 2%;
}

.f-steps-input {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.f-form-radio-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.f-form-radio-wrapper.is---3 {
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  text-align: left;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  display: block;
}

.f-form-steps-item.is---7 {
  border-radius: 8px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  position: relative;
}

.checkbox-label-6 {
  text-transform: capitalize;
}

.div-block-11 {
  padding-top: 0;
}

.checkbox-field {
  margin-top: 5px;
}

@media screen and (min-width: 1920px) {
  .f-heading-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 991px) {
  .section {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
  }

  .section.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }

  .styleguide-block {
    text-align: center;
  }

  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
  }

  .button {
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }

  .logo-link.w--current {
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    margin-left: 30px;
    position: static;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .navigation-items {
    background-color: #fff;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  .intro-header.cc-subpage {
    background-position: 50%, 0 0;
  }

  .our-services-grid {
    text-align: center;
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .service-icon {
    display: inline-block;
  }

  .contact-form-wrap {
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .contact-form-grid {
    grid-row-gap: 50px;
    text-align: center;
    flex-direction: column;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .our-contacts {
    grid-template: "."
                   "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .team-members {
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
  }

  .team-member-title-wrap {
    margin-bottom: 30px;
  }

  .projects-grid {
    grid-template-areas: "."
                         "Area";
  }

  .project-details-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .blog-item {
    width: 80%;
  }

  .blog-preview-image {
    height: 460px;
  }

  .blog-summary-wrap {
    width: 100%;
  }

  .about-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "Area"
    / 1fr;
  }

  .about-grid.cc-about-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         ".";
  }

  .intro-text {
    width: auto;
  }

  .collection-wrap {
    flex-flow: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .blog-preview-wrap {
    text-align: center;
    width: 80%;
    padding-right: 15px;
  }

  .div-block-8 {
    width: 100%;
  }

  .container-8 {
    max-width: 728px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .section-heading-2 {
    text-align: center;
    display: block;
  }

  .featuredthumbnail {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .featured-description {
    max-height: 55px;
    padding-right: 0;
    font-size: 17px;
    line-height: 23px;
    overflow: hidden;
  }

  .featured-title {
    font-size: 23px;
  }

  .category-tag-2 {
    z-index: 10;
  }

  .featured-text {
    padding-top: 70px;
    position: absolute;
    inset: 0;
  }

  .main-section {
    padding: 40px 10px;
  }

  .blog-thumbnail {
    width: 33.33%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .preview-text {
    max-height: 40px;
    overflow: hidden;
  }

  .f-error-message, .f-steps-wrap.is--7 {
    width: 100%;
  }

  .f-container.is--form-7 {
    padding-right: 3rem;
  }

  .f-form-img-wrap {
    display: none;
  }

  .f-form-steps-item.is---7 {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-home-wrap, .section.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    text-align: left;
    width: 90%;
    max-width: 470px;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0;
  }

  .navigation {
    padding: 20px 30px;
  }

  .cta-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .intro-header.cc-subpage {
    background-image: url('../images/HeroBackground1.jpg'), linear-gradient(#0000, #0000);
    background-position: 50%, 0 0;
  }

  .intro-content {
    width: 80%;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }

  .contact-form-wrap {
    padding: 30px;
  }

  .text-field.cc-contact-field, .text-field.cc-textarea {
    text-align: left;
  }

  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }

  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }

  .project-name-wrap {
    margin-bottom: 30px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .blog-detail-header-wrap {
    text-align: left;
    width: 90%;
    max-width: 470px;
  }

  .blog-item {
    width: 90%;
    max-width: 470px;
  }

  .blog-summary-wrap {
    text-align: center;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .about-grid {
    grid-column-gap: 0px;
    grid-template-areas: "Area Area"
                         "Area-2 Area-2";
  }

  .container-2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  .div-block-8 {
    width: 100%;
  }

  .team-slider {
    padding: 60px 15px;
  }

  .featuredthumbnail {
    padding: 10px 0;
  }

  .featured-description {
    font-size: 18px;
  }

  .featured-title {
    font-size: 27px;
  }

  .featured-text {
    inset: auto 0 0;
  }

  .main-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .blog-thumbnail {
    width: 50%;
  }

  .f-container.is--form-7 {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .section {
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
  }

  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .cta-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro-header.cc-subpage {
    background-image: url('../images/HeroBackground1.jpg'), linear-gradient(#0000, #0000);
    background-position: 50%, 0 0;
    height: 250px;
  }

  .status-message.cc-no-data, .contact-form-wrap {
    width: 100%;
  }

  .contact-form-grid {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }

  .our-contacts {
    width: 90%;
  }

  .team-members {
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .project-details-grid {
    width: 100%;
  }

  .blog-detail-header-wrap, .blog-item {
    width: 100%;
    max-width: none;
  }

  .home-section-wrap {
    display: block;
  }

  .about-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "Area Area"
                         "Area-2 Area-2";
  }

  .form-block {
    flex-flow: row;
  }

  .container-2 {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .div-block-9 {
    width: auto;
    display: block;
  }

  .container-8 {
    max-width: none;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .section-heading-2 {
    display: block;
  }

  .med-divider {
    width: 60%;
  }

  .featuredthumbnail {
    padding: 5px 0;
  }

  .featured-description {
    display: none;
  }

  .featured-title {
    font-size: 18px;
  }

  .author-img {
    display: block;
  }

  .featured-details {
    padding-left: 15px;
    padding-right: 15px;
  }

  .category-tag-2 {
    padding: 6px;
    top: 15px;
    left: 15px;
  }

  .featured-text {
    padding: 0 15px 55px;
  }

  .blog-post {
    width: 95%;
  }

  .main-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blog-thumbnail {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .f-form-radio-wrapper.is---3 {
    grid-template-columns: 1fr;
  }
}

#w-node-da8d7878-9dcf-970f-3d20-bed2ded4f3aa-3a790f3f {
  grid-area: Area;
}

#w-node-_86e64837-0616-515b-4568-76c147234d34-3a790f3f {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_86e64837-0616-515b-4568-76c147234d41-3a790f3f {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_211e22ae-5135-0222-5182-4dc4608f6814-3a790f3f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_86e64837-0616-515b-4568-76c147234d4c-3a790f3f {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_33d2769a-930f-48ee-86bf-c303a1a95041-3a790f3f {
  grid-area: Area;
}

#w-node-_33d2769a-930f-48ee-86bf-c303a1a95050-3a790f3f {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-b4bcb5c5-75d9-6d05-dfab-ea40b822f4b2-3a790f3f {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387918-3a790f46 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_421df62a-c217-12af-eee8-27f88a387928-3a790f46 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_2878ffd7-26fe-9471-3c4e-7763e2d38cdc-3a790f49 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_9fc983f2-663f-4962-77ef-1b316bf19d8c-3a790f49 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-_86e64837-0616-515b-4568-76c147234d34-3a790f3f, #w-node-_86e64837-0616-515b-4568-76c147234d41-3a790f3f {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_86e64837-0616-515b-4568-76c147234d4c-3a790f3f {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_33d2769a-930f-48ee-86bf-c303a1a95050-3a790f3f, #w-node-_421df62a-c217-12af-eee8-27f88a387928-3a790f46 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_86e64837-0616-515b-4568-76c147234d34-3a790f3f, #w-node-_33d2769a-930f-48ee-86bf-c303a1a95050-3a790f3f {
    grid-area: Area-2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_86e64837-0616-515b-4568-76c147234d34-3a790f3f, #w-node-_33d2769a-930f-48ee-86bf-c303a1a95050-3a790f3f {
    grid-area: Area-2;
    place-self: auto;
  }
}


